asgiref==3.11.1
beautifulsoup4==4.12.3
Django==6.0.2
django-environ==0.13.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
gunicorn==23.0.0
psycopg==3.3.3
psycopg-binary==3.3.3
PyJWT==2.11.0
sqlparse==0.5.5
typing_extensions==4.15.0
